<h1 class="w3-container w3-green">Welcome to URL Shortener</h1>
<%= form_tag(short_path, method: 'post', remote: true, class: "form" ) do %>
  <%= label_tag(:redirect_url, 'Please enter your Redirect link:') %>
  <br>
  <%= text_field_tag(:redirect_url, nil, required: true, class: "form-input w3-input", placeholder: "URL here") %>
  <br>
  <br>
  <%= submit_tag("SHORTEN", class: "bg-color-orange w3-button") %>
<% end %>
<div id="error"></div>
<div id="results"></div>